<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
Literariness prediction
</title>
</head>
<body>
<div style="margin-left: auto; margin-right: auto; width: 80%; ">
<h1>
Literariness prediction
</h1>

<p>Paste some (Dutch) text; predictions will be made for chunks of 1000 tokens.</p>

<form name=theform action=results method=post enctype="multipart/form-data">
<table style="width: 100%; ">
        <tr>
                <td colspan=2>
                        Enter a text.
                </td>
        </tr>
        <tr>
                <td style="width: 50%; " >
                        <textarea name=text rows=12 cols=60 id=text></textarea>
                </td>
                <td>
                        <p>
                        <input type=submit>
						</p>
                </td>
        </tr>
</table>
</form>

</div></body></html>
